/* This stylesheet is used for the navigation header of the pages. */

#header {
    border-style: none none solid none;
    border-width: thin;
    padding: 3px;
}

#header-name {
    padding: 10px;
    color: #0080dd;
    font-size: 1.4em;
    font-weight: bold;
}

#header-links {
    margin: 0;
    font-size: 1.2em;
}

#header-links > li {
    display: block;
    margin: 5px;
}

#header-links a:link, #header-links a:visited {
    color: #028902;
    display: block;
    margin: 0;
    padding: 4px 8px;
    text-decoration: none;
    border-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
}

#header-links a:active, #header-links a:focus, #header-links a:hover {
    background-color: #f0fcfa;
    color: #077707;
    border-color: #999;
}

@media screen and (min-width: 700px) {
    #header {
        height: 50px;
    }

    #header-name {
        float: left;
    }

    #header-links {
        float: right;
    }

    #header-links > li {
        display: inline-block;
    }
}
